section {
    width: 100vw;
    height: 100vh;

    background-color: #0d0919;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

#myTodos {
    width: 30rem;

    padding: 2.5rem;
    border-radius: 0.5rem;

    background-color: #e3e2da;
    color: #000;
}
